/* CSS FROM PURPLE SIDEBAR MENU */
@import url("https://fonts.googleapis.com/css?family=Open+Sans");
/* END */

@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');

body,
html {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif; */
  font-family: "Poiret One";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: ghostwhite;
}

.wrapper {
  min-height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  background-size: cover;
  background-image: linear-gradient(#000000, #313131);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

li {
  list-style: none;
}

a {
  color: #51c8ffb6;
  text-decoration: none;
}

p {
  font-size: 1.5rem;
}

a:hover {
  text-decoration: none;
  color: #43caff;
}

.header {
  margin-left: 2rem;
}

.section-headers {
  text-align: center;
}

.about-section {
  display: flow-root;
  justify-content: space-around;
}

.about-p-tags {
  /* float: left; */
  line-height: 3em;
  padding: 0 2% 0 7%;
  display: block;
  /* flex-wrap: wrap; */
  /* width: 50%; */
  margin-top: 0;
  font-family: "Poiret One";
}

.headshot-div {
  height: auto;
  width: 25%;
  float: right;
  margin: 2% 5% 2% 5%;
}

.headshot-img {
  height: auto;
  width: 100%;
  border: 2px solid #fff;
}

/* css from old portfolio for hero */

.hero-img {
  height: 50%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url(./assets/simple-background-abstract-slick.jpg);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding-top: 75px;
  padding-bottom: 75px;
}

.hero-text {
  display: contents;
  text-align: center;
  position: absolute;
  transform: translate(-50%, -50%);
  color: whitesmoke;
  font-size: 40px;
  font-style: bold italic;
  text-shadow: 0 0 10px black;
}
/* END */

/* CSS FROM PURPLE SIDEBAR MENU */

.sidebar {
  display: inline-grid;
  float: left;
  position: relative;
  width: 20%;
  height: 100vh;
  background: #062c3ec9;
  font-size: 1rem;
}

.nav {
  position: relative;
  margin: 0 15%;
  text-align: right;
  font-weight: bold;
  padding-bottom: 2rem;
}

.nav ul {
  list-style: none;
  padding-left: 3%;
}

li {
  position: relative;
  /* margin: 3.2em 0; */
}

a {
  line-height: 1em;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.4em;
  display: block;
  transition: all ease-out 300ms;
}

a.active a {
  color: white;
}

a:not(.active)::after {
  opacity: 0.2;
}

a:not(.active):hover a {
  color: rgba(#fff, 0.75);
}

#navLink::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 0.2em;
  background: black;
  left: 0;
  bottom: 0;
  background-image: linear-gradient(to right, #f5f5f5, #006089);
}

#navLink {
  line-height: 5em;
}

.is-active {
  color: white;
}
/* END */

.footer {
  height: 120px;
  width: 100%;
  display: grid;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 2%;
  background-image: linear-gradient(to right, #006077, black);
}

.push {
  height: 500px;
}

/* PROJECT DISPLAY CARD  */
.form-container {
  position: relative;
  transform: translate(-50%, -50%);
  height: 13rem;
  width: 22rem;
  background: black;
  overflow: hidden;
  border-radius: 2px;
  cursor: pointer;
  box-shadow: 0 0 35px 8px rgb(67 202 255 / 56%);
  margin-top: 10rem;
  margin-bottom: 4.5rem;
  margin-left: 11rem;
}

/* .form-content {
  position: absolute;
  top: 50%;
  transform: translatey(-50%);
  text-align: justify;
  color: black;
  padding: 40px;
  background: black;
}

.flap {
  width: 100%;
  height: 100%;
}

.flap::before {
  position: absolute;
  content: "";
  height: 100%;
  width: 50%;
  background-position: 100px;
  background-repeat: no-repeat;
  transition: 1s;
  background-color: #0f0f0f;
}

.flap::after {
  position: absolute;
  content: "";
  height: 100%;
  width: 50%;
  right: 0;
  background-position: -200px;
  background-repeat: no-repeat;
  transition: 1s;
  background-color: #0f0f0f;
}

.form-container:hover .flap::after {
  transform: translatex(300px);
}

.form-container:hover .flap::before {
  transform: translatex(-300px);
} */

.git-hub-icon {
  float: left;
  margin-right: 1rem;
  box-shadow: 0 0 15px #51c8ffb6;
}

.git-hub-icon:hover {
  box-shadow: 0 10px 20px #51c8ffef;
}

.project-title {
  float: right;
}

.vid_links {
  position: relative;
  margin: -9rem 0rem 6rem 0rem;
}

.deployed_link {
  position: relative;
  margin: -9rem 0rem 6rem 0rem;
}
/* END */

#goodbyeH3 {
  display: flex;
  justify-content: center;
  margin-bottom: 0;
}

.parent {
  padding: 3%;
  margin-left: 25%;
}

.projName {
  padding: 1rem;
  display: inline-block;
  position: relative;
  margin-left: -3rem;
  margin-bottom: -2rem;
}

.profileImages {
  height: 11rem;
  width: 17rem;
}

/* CONTACT FORM */
#contact-form {
  background-color: rgba(72, 72, 72, 0.9);
  padding: 10px 20px 30px 20px;
  max-width: 100%;
  width: 60%;
  float: left;
  left: 60%;
  position: absolute;
  margin-top: 30px;
  margin-left: -319px;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  font-weight: bold;
  color: #e5e6e7;
}

#contact-form input,
#contact-form select,
#contact-form textarea,
#contact-form label {
  font-size: 15px;
  margin-bottom: 2px;
  font-family: Arial, san-serif;
}
#contact-form input,
#contact-form select,
#contact-form textarea {
  width: 100%;
  background: #fff;
  border: 0;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  margin-bottom: 25px;
  padding: 5px;
}
#contact-form input:focus,
#contact-form select:focus,
#contact-form textarea:focus {
  background-color: #e5e6e7;
}
#contact-form textarea {
  width: 100%;
  height: 150px;
}
#contact-form button[type="submit"] {
  cursor: pointer;
  width: 100%;
  border: none;
  background: #991d57;
  background-image: linear-gradient(to bottom, #51c8ffb6 0%, #1d99d3da 52%);
  background-image: -moz-linear-gradient(
    to bottom,
    #51c8ffb6 0%,
    #1d99d3da 52%
  );
  background-image: -webkit-linear-gradient(
    to bottom,
    #51c8ffb6 0%,
    #1d99d3da 52%
  );
  color: #fff;
  margin: 0 0 5px;
  padding: 10px;
  border-radius: 5px;
}

#contact-form button[type="submit"]:hover {
  background-image: linear-gradient(to bottom, #43caff 0%, #8ccee9 52%);
  background-image: -moz-linear-gradient(to bottom, #43caff 0%, #8ccee9 52%);
  background-image: -webkit-linear-gradient(to bottom, #43caff 0%, #8ccee9 52%);
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

#contact-form button[type="submit"]:active {
  box-shadow: inset 0 1px 3px rgb(67 202 255);
}

@media only screen and (max-width: 845px) {
  #contact-form {
    left: 14%;
    margin-right: 3%;
    width: 63%;
    margin-left: 0;
    padding-left: 3%;
  }
}

#contact-me-h1 {
  margin-left: 25%;
  margin-right: 5%;
  margin-top: 5rem;
  margin-bottom: 2rem;
}

#contact-email {
  font-size: 17px;
  display: contents;
  word-wrap: break-word;
}
/* END */

.overview-container {
  height: 8rem;
  overflow: scroll;
  margin-top: -4rem;
  width: 23rem;
}

@media only screen and (max-width: 845px) {
  .sidebar {
    font-size: 0.75rem;
    display: block;
    width: 100%;
    height: fit-content;
    float: none;
    font-size: 12px;
  }

  p {
    font-size: 1.5rem;
  }

  .headshot-div {
    width: 35%;
    margin: auto;
    margin-top: 4rem;
    margin-bottom: 4rem;
    float: none;
  }

  .about-p-tags {
    margin: 0 1.5rem 0 0;
  }

  .nav ul {
    list-style: none;
    padding-left: 0%;
    margin: auto;
    display: inline-flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
  }

  #navLink{
    margin: 0rem 2rem;
  }

  #contact-me-h1 {
    margin-left: 5%;
  }
  
}

/* @media only screen and (max-width: 700px) {
  . {
    font-size: 0.75rem;
  }
} */
